.zpy-badge {
  display: inline-block;
  border-radius: 6px;
  font-size: .65em;
  line-height: 1;
  font-weight: 600;
  padding: 0.35em 0.4em 0.3em;
  position: relative;
  top: -0.65em;
  margin-left: 0.5em;
  transition: color .5s;
  vertical-align: baseline;
}

.zpy-badge::before {
  content: attr(data-content);
}

.zpy-badge--fix {
  color: #213547;
  background-color: #ffc517;
}
